<!-- Main Section -->
<section>
    <div class="row">
        <div class="col-md-6">
            <div class="main-section text-center text-light py-5">
                <div class="container">
                    <h1 class="display-4">Earn your first income</h1>
                    <p class="lead">Real companies, real projects, real earnings and real money<br>Smart opportunities
                        for the smart generation</p>
                    <div class="d-flex justify-content-center my-4">
                        <a href="https://play.google.com/store/apps/details?id=com.wishbanc.funngro"
                            class="btn btn-dark mx-2"><img src="../../assets/images/google-play.png" alt="Google Play"
                                height="30"></a>
                        <a href="https://apps.apple.com/in/app/funngro/id1579361075" class="btn btn-dark mx-2"><img
                                src="../../assets/images/app-store.png" alt="App Store" height="30"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                <img src="../../assets/images/shark-tank-india.png" alt="Shark Tank India" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<!-- Statistics Section -->
<section>
    <div class="container stats-section rounded-4">
        <div class="row justify-content-around">
            <div class="col-md-2">
                <div class="stat-box">
                    <div class="row">
                        <div class="col-2 icon-circle bg-pink">
                            <mat-icon>supervisor_account</mat-icon>
                        </div>
                        <div class="col-6">
                            <div class="stat-count">3,500+</div>
                            <div class="stat-text">Companies</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-2">
                <div class="stat-box">
                    <div class="row">
                        <div class="col-2 icon-circle bg-yellow">
                            <mat-icon>groups</mat-icon>
                        </div>
                        <div class="col-6">
                            <div class="stat-count">12</div>
                            <div class="stat-text">Categories</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="stat-box">
                    <div class="row">
                        <div class="col-2 icon-circle bg-blue">
                            <mat-icon>view_module</mat-icon>
                        </div>
                        <div class="col-6">
                            <div class="stat-count">20,00,000+</div>
                            <div class="stat-text">Teenlancers</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat-box">
                    <div class="row">
                        <div class="col-2 icon-circle bg-green">
                            <mat-icon>computer</mat-icon>
                        </div>
                        <div class="col-6">
                            <div class="stat-count">1000+</div>
                            <div class="stat-text">Live projects</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Benefits Section -->
<section class="benefits-section text-light py-5">
    <div class="container">
        <h3 class="text-center mb-5">Why work in your Teens?</h3>
        <p class="mb-5">Warren Buffet, Bill Gates, Steve Jobs, all started working in their Teens, do you
            need a better reason?</p>
        <div class="row text-center hover">
            <div class="col-md-3 mb-4">
                <div class="benefit-box p-3 border border-danger">
                    <div class="icon-circle img-yellow mx-auto">
                        <img src="../../assets/images/profit.png" alt="Passion" height="80">
                    </div>
                    <h4 class="mt-3">First income</h4>
                    <p>Work with real companies and Earn money</p>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="benefit-box p-3 border border-warning">
                    <div class="icon-circle img-yellow mx-auto">
                        <img src="../../assets/images/passion.png" alt="Passion" height="80">
                    </div>
                    <h4 class="mt-3">Passion</h4>
                    <p>Make your passion as your profession</p>
                </div>
            </div>
            <div class="col-md-3 mb-4 ">
                <div class="benefit-box p-3 border border-primary">
                    <div class="icon-circle img-blue mx-auto">
                        <img src="../../assets/images/knowledge.png" alt="Learning" height="80">
                    </div>
                    <h4 class="mt-3">Learning</h4>
                    <p>Experiential Learning by working on real projects</p>
                </div>
            </div>
            <div class="col-md-3 mb-4 ">
                <div class="benefit-box p-3 border border-secondary">
                    <div class="icon-circle img-green mx-auto">
                        <img src="../../assets/images/medal.png" alt="Certification" height="80">
                    </div>
                    <h4 class="mt-3">Certification</h4>
                    <p>Build your profile by getting experience certificates</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container categories-section">
        <div class="d-flex justify-content-center flex-wrap p-3">
            
            <div class="box">
                <div class="box-inner">
                    <div class="box-front">
                        <div class="category-box">
                            <div class="category-icon">
                                <img src="../../assets/images/social-media.png" alt="social-media" height="80" >
                            </div>
                            <div class="category-title">Social media marketing</div>
                        </div>
                    </div>
                    <div class="box-back">
                        <div class="content">
                            Manage social media pages of companies
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="box">
                <div class="box-inner">
                    <div class="box-front">
                        <div class="category-box">
                            <div class="category-icon">
                                <img src="../../assets/images/video-game.png" alt="social-media" height="80" >
                            </div>
                            <div class="category-title">Video Creation</div>
                        </div>
                    </div>
                    <div class="box-back">
                        <div class="content">
                            Create and edit videos for companies and use your video creation skills
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-inner">
                    <div class="box-front">
                        <div class="category-box">
                            <div class="category-icon">
                                <img src="../../assets/images/app-development.png" alt="social-media" height="80" >
                            </div>
                            <div class="category-title">Website Design</div>
                        </div>
                    </div>
                    <div class="box-back">
                        <div class="content">
                            Design and build a website for companies
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-inner">
                    <div class="box-front">
                        <div class="category-box">
                            <div class="category-icon">
                                <img src="../../assets/images/influencer.png" alt="social-media" height="80" >
                            </div>
                            <div class="category-title">Influencer Marketing</div>
                        </div>
                    </div>
                    <div class="box-back">
                        <div class="content">
                            Create Reels, Memes, posts and videos for social media handles of companies
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-inner">
                    <div class="box-front">
                        <div class="category-box">
                            <div class="category-icon">
                                <img src="../../assets/images/development.png" alt="social-media" height="80" >
                            </div>
                            <div class="category-title">Mobile AppDevelopment</div>
                        </div>
                    </div>
                    <div class="box-back">
                        <div class="content">
                            Develop market ready apps for companies
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-inner">
                    <div class="box-front">
                        <div class="category-box">
                            <div class="category-icon">
                               <img src="../../assets/images/recruitment.png" alt="social-media" height="80" >
                            </div>
                            <div class="category-title">Campus Ambassador</div>
                        </div>
                    </div>
                    <div class="box-back">
                        <div class="content">
                            Drive sales for companies by acquiring customers
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-lg col-lg-6">
                <div class="section-title">Project Categories</div>
        <div class="lead">Hundreds of live projects in each category. Register for categories of your
            choice in the FunnGro App and start working with companies.</div>
            </div>
            <div class="box">
                <div class="box-inner">
                    <div class="box-front">
                        <div class="category-box">
                            <div class="category-icon">
                               <img src="../../assets/images/seo.png" alt="social-media" height="80" >
                            </div>
                            <div class="category-title">Research & Survey</div>
                        </div>
                    </div>
                    <div class="box-back">
                        <div class="content">
                            Run Surveys for companies and complete research assignments
                        </div>
                    </div>
                </div>
            </div>
             <div class="box">
                <div class="box-inner">
                    <div class="box-front">
                        <div class="category-box">
                            <div class="category-icon">
                               <img src="../../assets/images/copywriter.png" alt="social-media" height="80" >
                            </div>
                            <div class="category-title">Data Entry</div>
                        </div>
                    </div>
                    <div class="box-back">
                        <div class="content">
                            Create databases for companies with your data research skills
                        </div>
                    </div>
                </div>
            </div>
             <div class="box">
                <div class="box-inner">
                    <div class="box-front">
                        <div class="category-box">
                            <div class="category-icon">
                               <img src="../../assets/images/dubbing.png" alt="social-media" height="80" >
                            </div>
                            <div class="category-title">Voice Over</div>
                        </div>
                    </div>
                    <div class="box-back">
                        <div class="content">
                            Work with companies in recording content with your voice over skills
                        </div>
                    </div>
                </div>
            </div>
             <div class="box">
                <div class="box-inner">
                    <div class="box-front">
                        <div class="category-box">
                            <div class="category-icon">
                               <img src="../../assets/images/content-writing.png" alt="social-media" height="80" >
                            </div>
                            <div class="category-title">Content Writing</div>
                        </div>
                    </div>
                    <div class="box-back">
                        <div class="content">
                            Blogs, articles, website content and a lot more. Write for companies
                        </div>
                    </div>
                </div>
            </div>
             <div class="box">
                <div class="box-inner">
                    <div class="box-front">
                        <div class="category-box">
                            <div class="category-icon">
                               <img src="../../assets/images/illustration.png" alt="social-media" height="80" >
                            </div>
                            <div class="category-title">Graphics Design</div>
                        </div>
                    </div>
                    <div class="box-back">
                        <div class="content">
                            Logos, Brochures, pamphlets, website, posts etc
                        </div>
                    </div>
                </div>
            </div>
             <div class="box">
                <div class="box-inner">
                    <div class="box-front">
                        <div class="category-box">
                            <div class="category-icon">
                               <img src="../../assets/images/software-testing.png" alt="social-media" height="80" >
                            </div>
                            <div class="category-title">Testing</div>
                        </div>
                    </div>
                    <div class="box-back">
                        <div class="content">
                            Test company products and give feedback, app, website, physical product
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>